body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100% ;
    
}

.contenu_global {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex:1;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    .vote-container {
        flex-direction: column; /* Passe en colonne */
        gap: 10px;
    }

    .vote-left, .vote-right {
        width: 100%; /* Prend toute la largeur */
    }
}